.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 16px;
}

.image {
  width: 100%;
  height: auto;
}

.info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albumName {
  font-size: 1.2rem;
  font-weight: bold;
}

.chip {
  background-color: var(--chip-background-color);
  color: var(--chip-text-color);
}
